@import "./../core/variables/colors";

/* 
  ======================================================
            VARIABLES PARA SALUD FISCAL
  ======================================================
*/

// COLORES DEL BOTON DEFAULT
$application-salud-fiscal-disabled: #6f97af;
$application-salud-fiscal-default: #0277bd;
$application-salud-fiscal: #026dae;
// COLORES DEL BOTON DE ACEPTAR
$application-salud-fiscal-aceptar: #026dae;
// COLORES DEL BOTON DE CANCELAR
$application-salud-fiscal-cancelar-disabled: #aaaaaa;
$application-salud-fiscal-cancelar: #999999;
// COLORES DEL BOTON DE EDITAR
$application-salud-fiscal-editar: #026dae;
// COLORES DEL BOTON DE ACTIVAR
$application-salud-fiscal-activar: $green-700;
// COLORES DEL BOTON DE ELIMINAR
$application-salud-fiscal-eliminar: #8b0000;
// COLORES DEL BOTON DE FILTRO
$application-salud-fiscal-filtro-disabled: #0277bd;
$application-salud-fiscal-filtro: #026dae;
// COLORES DEL BOTON DE FILTRO
$application-salud-fiscal-quitar-filtro-disabled: #a80d0d;
$application-salud-fiscal-quitar-filtro: #8b0000;
// COLORES DEL BOTON DE BUSQUEDA
$application-salud-fiscal-busqueda: #026dae;
// COLORES DEL BOTON DE BUSQUEDA
$application-salud-fiscal-anahir: #026dae;
// COLORES DEL BOTON EXCEL
$application-salud-fiscal-excel: #06d79c;
// COLORES DEL BOTON VINCULAR
$application-salud-fiscal-vincular: #06d79c;
// COLORES DEL BOTON FILTRO
$application-salud-fiscal-filtro: #398bf7;
// COLORES DEL BOTON MENSAJES
$application-salud-fiscal-mensaje: #398bf7;
// COLORES DEL BOTON DESCARAR VARIOS ARCHIVOS
$application-salud-fiscal-descarga-varios: #ffc107;
// COLORES DEL BOTON MONEDA
$application-salud-fiscal-moneda: #ffd416;
// COLORES DEL BOTON DESCARAR VARIOS ARCHIVOS
$application-salud-fiscal-pdf: #ef5350;
// COLORES DEL BOTON DESCARAR DESVINCULAR
$application-salud-fiscal-desvincular: #ef5350;
// COLORES DEL BOTON ELIMINAR
$application-salud-fiscal-eliminar: #ff0000;
// COLORES DEL BOTON MODIFICAR
$application-salud-fiscal-modificar: #0000ff;
// COLORES DEL BOTON AGREGAR
$application-salud-fiscal-agregar: #0000ff;
// COLORES DEL BOTON COMEMTARIOS
$application-salud-fiscal-comentarios: #5d5e54;
// COLORES DEL BOTON HISTORIAL
$application-salud-fiscal-historial: #00bcd4;
// COLORES DEL BOTON ACEPTAR
$application-salud-fiscal-aceptar : $green-700;
// COLORES DEL BOTON ELIMINAR
$application-salud-fiscal-swal-aceptar : $green-700;
$application-salud-fiscal-swal-cancelar: #ff0000;
// COLORES DEL BOTON ENVIAR COMENTARIO
$application-salud-fiscal-enviarComentario: #400087;
// COLORES DEL BOTON DESAPORBAR
$application-salud-fiscal-desaprobar: #ff3535;
// COLORES DEL BOTON APROBAR
$application-salud-fiscal-aprobar: #69e77e;
$shadow-mat-select-optionBlue: 0 4px 20px 0px rgba(0, 0, 0, 0.14),
0 7px 10px -5px rgba(1, 53, 85, 0.4);

// COLORES DEL BOTON INFORMACION PURPLE
$application-salud-fiscal-purple: #7e69f3;

$shadow-mat-select-optionBlue: 0 4px 20px 0px rgba(0, 0, 0, 0.14), 0 7px 10px -5px rgba(1, 53, 85, 0.4);

/* 
  ESTILOS DEL ARBOL DE PERMISOS
*/

.example-tree-progress-bar {
    margin-left: 30px;
}

.example-tree-nested-node {
    padding-left: 30px;
}

mat-tree {
    margin-left: 40px;
    ul,
    li {
        list-style: none;
        margin: 0;
        padding: 0;
    }
    li.example-tree-container {
        border-bottom: 0;
    }
    ul {
        padding-left: 40px;
    }
    li {
        padding-left: 40px;
        border: 1px dotted grey;
        border-width: 0 0 1px 1px;
        position: relative;
        top: -24px;
    }
    li.mat-tree-node,
    li div {
        margin: 0;
        position: relative;
        top: 24px;
    }
    li ul {
        border-top: 1px dotted grey;
        margin-left: -40px;
        padding-left: 60px;
    }
}

.mat-tree-node {
    padding: 0;
    background-color: white;
}

.mat-nested-tree-node {
    top: -24px;
}

.mat-nested-tree-node:last-child ul {
    border-left: 1px solid white;
    margin-left: -41px;
}

.mat-icon-button {
    z-index: 100;
}


/* 
  / ESTILOS DEL ARBOL DE PERMISOS
*/


/* ESTILOS DE LOGO DE FOTO */

.perfil-foto {
    color: white;
    justify-content: center;
    text-align: center;
    vertical-align: middle;
}

.cdk-overlay-container .cdk-overlay-connected-position-bounding-box {
    z-index: auto;
}

.selector-empresas {
    background: transparent;
    box-shadow: none;
    color: black;
    border-radius: 0;
}

.red {
    background: #b71c1c;
}

.vincular {
    background: $application-salud-fiscal-vincular;
    color: $white;
}

.desvincular {
    background: $application-salud-fiscal-desvincular;
    color: $white;
}

.table-contenedor-botones-sf {
    justify-content: flex-start;
    margin-left: 5% !important;
}

.table-contenedor-botones-sf>div {
    display: inline;
}

.contenedor-botones-sf {
    justify-content: flex-end;
}

.dataTables_empty {
    display: none;
}


/*table header size changed

table.dataTable>thead>tr>th,
table.dataTable>tfoot>tr>th {
    font-size: 0.7rem;
    font-weight: 600;
    padding: 5px !important;
}
 
table.dataTable>tbody>tr>td {
    padding: 2px !important;
    font-size: 0.8rem;
}
*/

/*smaller size filter text box

.dataTables_filter>label>input {
    line-height: normal !important;
}
*/

/*filter label text size changed

.dataTables_filter>label {
    font-weight: normal !important;
    font-size: 15px !important;
}
*/

/*entry length text size changed

.dataTables_length>label {
    font-weight: normal !important;
    font-size: 13px !important;
}
*/

/*table paging size changed

.dataTables_wrapper .dataTables_paginate>span>a {
    margin-bottom: 0px !important;
    padding: 2px 10px !important;
}
*/


/*table paging size changed

.dataTables_wrapper .dataTables_paginate>a {
    margin-bottom: 0px !important;
    padding: 2px 10px !important;
}*/


/*table paging float right

.dataTables_wrapper .dataTables_paginate {
    text-align: right !important;
    margin-top: 10px !important;
}

.dataTables_paginate>.pagination a {
    text-transform: none !important;
}

.dataTableScroll {
    overflow-x: scroll;
    overflow-y: hidden;
    min-height: 300px;
}

.scrollERPDash {
    overflow-x: hidden;
    overflow-y: scroll;
    max-height: 650px;
    max-width: 70%;
}

.noScrollDash {
    overflow-x: hidden;
    overflow-y: hidden;
    max-height: 650px;
    max-width: 70%;
}

.commentScroll {
    overflow-x: hidden;
    overflow-y: scroll;
    min-height: 300px;
}

*/

/* SWEET ALERT STYLE OVERRIDED */

.swal2-styled.swal2-cancel {
    background-color: $application-salud-fiscal-swal-cancelar !important;
}

.swal2-styled.swal2-confirm {
    background-color: $application-salud-fiscal-swal-aceptar !important;
}


/* PROVEEDORES - SELECT 2 Y DRAG AND DROP */

.example-container {
    margin: 0 25px 25px 0;
    display: inline-block;
    vertical-align: top;
}

.example-list {
    border: solid 1px #ccc;
    min-height: 60px;
    background: white;
    border-radius: 4px;
    display: block;
    overflow-x: hidden;
    overflow-y: auto;
    height: 320px;
}

.example-box {
    padding: 20px 10px;
    border-bottom: solid 1px #ccc;
    color: rgba(0, 0, 0, 0.87);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
    cursor: move;
    background: white;
    font-size: 14px;
}

.box-card-div-viaticos {
  padding: 20px 10px;
  border-bottom: solid 1px #ccc;
  color: rgba(0, 0, 0, 0.87);
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
  cursor: move;
  background: white;
  font-size: 14px;
}

.cdk-drag-preview {
    box-sizing: border-box;
    border-radius: 4px;
    box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2), 0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12);
}

.cdk-drag-placeholder {
    opacity: 0;
}

.cdk-drag-animating {
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.labelDiv {
    margin-top: 20px;
    margin-bottom: 20px;
}

.example-list.cdk-drop-list-dragging .example-box:not(.cdk-drag-placeholder) {
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}






/* ESTILO PARA TODOS LOS MODALES CREADOS */
.mat-dialog-container {
  padding-top: 0 !important;
  max-height: 550px;
}

dialog-overview-example-dialog.ng-star-inserted > div {
  margin-right: -24px;
  margin-left: -24px;
}


.mat-dialog-title {
  margin: 0px !important;
} 
.fixActionRow {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.spacer {
  flex-grow: 1;
}
.noPagado {
    background-color: rgb(235, 96, 96);
}

.pagado {
    background-color: springgreen;
}

.parcial {
    background-color: rgb(226, 205, 83);
}

.excede {
    background-color: rgb(108, 173, 71);
}

.cancelado {
    background-color: rgb(156, 156, 156);
}

.sinPago {
    background-color: rgb(192, 132, 169);
}

.vencido {
    background-color: rgb(214, 146, 57);
}

.porEmitir {
    background-color: rgb(130, 135, 216);
}

.inputfile {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}

/** ================================
         PANEL IZQUIERDO FACTURAS
    ================================**/
.matGridTileList{
    border-bottom: 1px solid lightgray;
}

.fontGridTile{
    padding-top: 5%;
    font-size: 12px;
    color: gray;
}

.fontGridTieLeftText{
    padding-top: 5%;
    font-size: 12px;
}

.paddingleft{
    padding-left: 0;
}

.paddingright{
    padding-right: 0!important;
}

.scrollYGridTile{
    max-height: 600px;
    overflow: auto;
    padding-right: 0;
    padding-left: 0;
}

/** ====================================
             ESTILOS PAGINADOR
    ====================================**/
.paginacion{
    cursor: pointer;
}

.paginacionSpace{
    list-style: none;
    padding-right: 5px;
    padding-left: 5px;
}

.activado{
    border-radius: 30px;
    padding: 15px 15px;
    width: 16px;
    height: 15px;
    color: #fff;
    box-shadow: 0 4px 5px 0 rgba(2, 119, 189, 0.14), 0 1px 10px 0 rgba(2, 119, 189, 0.12), 0 2px 4px -1px rgba(2, 119, 189, 0.2);
    background-color: #0277bd;

    border-color: #0277bd;
}

.centroPaginadoC{
    margin-left: -4px;
    margin-top: -10px;
}

.centroPaginado10{
    margin-top: -11px;
    padding-left: 0.5em;
}


.centroPaginado{
    margin-top: 4px;
}

.content-paginacion{
    float: right;
    width: 15em;
}

.text-paginacion{
    float: left;
}

.formatoOracion{
    text-transform: none!important;
}