<div class="animated fadeIn">

  <div class="row">
    <div class="col-lg-12">
      <div class="card">
        <div class="card-header">
          <i class="fa fa-users"></i>OCR
        </div>
        <div class="card-body">

          <div class="row">
            <div class="col-lg-2 col-md-2 col-sm-2">
              <div class="form-group">
                <select class="form-control" (change)="onSelectDevice($event.target.value)">
                  <option *ngFor="let device of devices" [value]="device.id">{{ device.label }}</option>
                </select>
              </div>
            </div>
            <div class="col-lg-2 col-md-2 col-sm-2">
              <div class="form-group">
                <button type="button" class="btn btn btn-primary" (click)="capture()"><i
                    class="fa fa-eercast"></i>&nbsp;&nbsp;Tomar foto</button>
              </div>
            </div>
            <div class="col-lg-2 col-md-2 col-sm-2">
              <div class="form-group">
                <label for="name">Contraste</label>
                <input type="range" min="1" max="100" [(ngModel)]="contraste">
              </div>
              <div class="form-group">
                <label for="name">Brillo</label>
                <input type="range" min="1" max="100" [(ngModel)]="brillo">
              </div>
            </div>
            <div class="col-lg-2 col-md-2 col-sm-2">
            </div>
          </div>

          <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12">
              <video #video id="video" autoplay></video>
            </div>
            <div class="col-lg-12 col-md-12 col-sm-12">
              <canvas #canvas id="canvas"></canvas>
            </div>
          </div>


          <div class="row">
            <div class="col-lg-6 col-md-12 col-sm-12">
              <canvas #IFE id="IFE"></canvas>
            </div>
            <div class="col-lg-2 col-md-12 col-sm-12">
              <p>Nombre: {{ nombre }}</p>
              <p>Domicilio: {{ domicilio }}</p>
              <p>Clave de elector: {{ cveElector }}</p>
              <p>Curp: {{ curp }}</p>
            </div>
            <div class="col-lg-4 col-md-12 col-sm-12">
              <canvas #datosIFE id="datosIFE"></canvas>
            </div>
          </div>

        </div>
      </div>
    </div>
    <!--/.col-->
  </div>
  <!--/.row-->
</div>