<div class="animated fadeIn">

  <div class="row">
    <div class="col-lg-12">
      <div class="card">
        <div class="card-header">
          <i class="fa fa-users"></i>Usuarios publicos
        </div>
        <div class="card-body">

          <alert *ngIf="showScreenAlert" type="warning">
            <strong>Cuidado!</strong> En pantallas menores a 1200px de ancho se omite información
          </alert>

          <!-- BOTONERA -->
          <div style="margin: 15px 0;">

            <!-- MOSTRAR -->
            <label for="ccmonth">&nbsp;&nbsp; Mostrar</label>
            <select class="form-control float-left select-custom" [(ngModel)]="cantidadAMostrar"
              (change)="rowsToShow($event.target.value)" id="ccmonth">
              <option>5</option>
              <option>10</option>
              <option>25</option>
              <option>50</option>
            </select>

            <!-- CREAR -->
            <button (click)="nuevo()" type="button" class="btn btn-botonera btn-primary btn-sm float-right"
              popover="Crea un nuevo usuario" triggers="mouseenter:mouseleave">
              <i class="fa fa-plus"></i> Crear
            </button>

            <!-- QUITAR FILTRO -->
            <button *ngIf="usuariosPublicosFiltroDTO.busqueda" (click)="eliminarBusqueda()" type="button"
              class="btn btn-botonera btn-danger btn-sm float-right" popover="I will hide on blur"
              triggers="mouseenter:mouseleave">
              <i class="fa fa-close"></i> Quitar Filtro
            </button>

            <!-- BUSQUEDA -->
            <button (click)="buscar()" type="button" class="btn btn-botonera btn-primary btn-sm float-right"
              popover="Busca usuarios mediante un filtro" triggers="mouseenter:mouseleave">
              <i class="fa fa-search"></i> Buscar
            </button>

          </div>

          <!-- TABLE -->
          <div class="table-responsive">
            <table class="table table-bordered table-striped table-hover table-sm table-fixed">
              <caption>Lista de usuarios</caption>
              <thead>
                <tr>
                  <th>#</th>
                  <th>Id</th>
                  <th>Usuario</th>
                  <th class="d-none d-sm-table-cell">Correo</th>
                  <th class="d-none d-sm-table-cell">Nombre</th>
                  <th class="d-none d-xl-table-cell">Teléfono Celular</th>
                  <th class="d-none d-xl-table-cell">Limite de peticiones</th>
                  <th class="d-none d-xl-table-cell">Tiempo</th>
                  <th class="d-none d-xl-table-cell">Expiración Token</th>
                  <th class="d-none d-lg-table-cell">Fecha Alta</th>
                  <th>Estatus</th>
                </tr>
              </thead>
              <tbody *ngIf="usuariosPublicosDTO?.length != 0">
                <tr *ngFor="let usuario of usuariosPublicosDTO">
                  <!-- ACCIONES <span class="badge badge-success">Active</span>-->
                  <td>
                    <div style="width: 82px;">
                      <button type="button" class="btn btn-botonera btn-danger btn-sm float-right"
                        popover="I will hide on blur" triggers="mouseenter:mouseleave">
                        <i class="fa fa-trash"></i>
                      </button>
                      <button type="button" (click)="editar(usuario)" class="btn btn-botonera btn-primary btn-sm float-right"
                        popover="I will hide on blur" triggers="mouseenter:mouseleave">
                        <i class="fa fa-edit"></i>
                      </button>
                    </div>
                  </td>
                  <td>{{ usuario.id }}</td>
                  <td>{{ usuario.username }}</td>
                  <td class="d-none d-sm-table-cell">{{ usuario.correo }}</td>
                  <td class="d-none d-sm-table-cell">{{ usuario.nombre }} {{ usuario.apellido1 }}
                    {{ usuario.apellido2 }}</td>
                  <td class="d-none d-xl-table-cell">{{ usuario.telefonoCelular }}</td>
                  <td class="d-none d-xl-table-cell">{{ usuario.limitRequest }}</td>
                  <td class="d-none d-xl-table-cell">{{ usuario.timeUnit }}</td>
                  <td class="d-none d-xl-table-cell">{{ usuario.tokenExpiration }}</td>
                  <td class="d-none d-lg-table-cell">{{ usuario.fechaAlta }}</td>
                  <td>
                    <span
                      class="badge badge-{{ usuario.enabled ? 'success' : 'danger' }}">{{ usuario.enabled ? 'Activo' : 'Inactivo' }}</span>
                  </td>
                </tr>
              </tbody>
              <!-- SIN DATOS -->
              <tbody *ngIf="usuariosPublicosDTO?.length <= 0">
                <tr>
                  <td colspan="11" class="no-data-available">No hay Datos</td>
                </tr>
              </tbody>

              <!-- SIN DATOS -->
              <tbody *ngIf="usuariosPublicosDTO?.length <= 0 && isLoading">
                <tr>
                  <td colspan="11" class="no-data-available"><img src="assets/img/loading/loading.gif"></td>
                </tr>
              </tbody>

            </table>
          </div>

          <!--PAGINACION-->
          <nav>
            <ul class="pagination no-margin pull-right">
              <pagination [boundaryLinks]="true" [totalItems]="totalItems" [(ngModel)]="currentPage"
                (pageChanged)="pageChanged($event)" class="pagination-sm" [maxSize]="6" previousText="&lsaquo;"
                nextText="&rsaquo;" firstText="Primero" lastText="Último">
              </pagination>
            </ul>
          </nav>

        </div>
      </div>
    </div>
    <!--/.col-->
  </div>
  <!--/.row-->
</div>
