<!DOCTYPE html
	PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
    xmlns:th="http://www.thymeleaf.org"
    xmlns:sec="http://www.thymeleaf.org">
    
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>Stegeriluminacion</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
</head>

<body style="margin: 0; padding: 0;">
	<table border="0" cellpadding="0" cellspacing="0" width="100%">
		<tr>
			<td style="padding: 10px 0 30px 0;">
				<table align="center" border="0" cellpadding="0" cellspacing="0"
					width="600"
					style="border: 1px solid #cccccc; border-collapse: collapse;">
					<tr>
						<td align="center" bgcolor="#CFCDCD"
							style="padding: 40px 0 30px 0; color: #153643; font-size: 28px; font-weight: bold; font-family: Arial, sans-serif;">
							<img src="./images/logo.png" th:src="'cid:' + ${imageResourceName}" width="300" height="230" style="display: block;" />

						</td>
					</tr>
					<tr>
						<td bgcolor="#ffffff" style="padding: 40px 30px 40px 30px;">
							<table border="0" cellpadding="0" cellspacing="0" width="100%">
								<tr>
									<td
										style="color: #153643; font-family: Arial, sans-serif; font-size: 24px;">
										<b>Recuperar contraseña de : <span th:text="${user}"></span></b>

									</td>
								</tr>
								<tr>
									<td
									style="padding: 20px 0 30px 0; color: #153643; font-family: Arial, sans-serif; font-size: 16px; line-height: 20px;">
									Stegeriluminacion es una Tienda Online enfocada en vender, mostrar los productos de iluminacion
									de cualquier tipo
								 	</td>
								</tr>
								<tr>
									<td
										style="padding: 20px 0 30px 0; color: #153643; font-family: Arial, sans-serif; font-size: 16px; line-height: 20px;">
										Tu contraseña temporal es: <span th:text="${passwordTemp}"></span>
									</td>
								</tr>
								<tr>
									<td
										style="padding: 20px 0 30px 0; color: #153643; font-family: Arial, sans-serif; font-size: 16px; line-height: 20px;">
										Asegurate de cambiar tu contraseña dentro de la aplicación.
									</td>
								</tr>
							</table>
						</td>
					</tr>
					<tr>
						<td bgcolor="#CFCDCD" style="padding: 30px 30px 30px 30px;">
							<table border="0" cellpadding="0" cellspacing="0" width="100%">
								<tr>
									<td
										style="color: #ffffff; font-family: Arial, sans-serif; font-size: 14px;"
										width="75%">&reg; Stegeriluminacion. <script>document.write(new Date().getFullYear());</script><br /> <a href="#"
										style="color: #ffffff;"> <!-- <font color="#ffffff">Yo no solicite mi ingreso</font> -->
									</a>
									</td>
								</tr>
							</table>
						</td>
					</tr>
				</table>
			</td>
		</tr>
	</table>
</body>

</html>