<div class="animated fadeIn">

  <div class="row">
    <!--
          NUMERO DE CONEXIONES MAXIMA
     -->
    <div class="col-sm-6 col-lg-3">
      <div class="card">
        <div class="card-body p-0 clearfix">
          <i class="fa fa-bell bg-danger p-4 px-5 font-2xl mr-3 float-left"></i>
          <div class="h5 text-danger mb-0 pt-3">{{ metricsDTO?.maxConnections[0][1] }}</div>
          <div class="text-muted text-uppercase font-weight-bold font-xs">{{ metricsDTO?.maxConnections[0][0] }}</div>
        </div>
      </div>
    </div>

    <!--
          NUMERO DE CONEXIONES
     -->
    <div class="col-sm-6 col-lg-3">
      <div class="card">
        <div class="card-body p-0 clearfix">
          <i class="fa fa-bell bg-danger p-4 px-5 font-2xl mr-3 float-left"></i>
          <div class="h5 text-danger mb-0 pt-3">{{ metricsDTO?.maxUsedConnections[0][1] }}</div>
          <div class="text-muted text-uppercase font-weight-bold font-xs">{{ metricsDTO?.maxUsedConnections[0][0] }}
          </div>
        </div>
      </div>
    </div>

    <!--
          SLOW QUERYS
     -->
    <div class="col-sm-6 col-lg-3">
      <div class="card">
        <div class="card-body p-0 clearfix">
          <i class="fa fa-bell bg-danger p-4 px-5 font-2xl mr-3 float-left"></i>
          <div class="h5 text-danger mb-0 pt-3">{{ metricsDTO?.slowQueries[0][1] }}</div>
          <div class="text-muted text-uppercase font-weight-bold font-xs">{{ metricsDTO?.slowQueries[0][0] }}</div>
        </div>
      </div>
    </div>

    <!--
          THREADS RUNNING
     -->
    <div class="col-sm-6 col-lg-3">
      <div class="card">
        <div class="card-body p-0 clearfix">
          <i class="fa fa-bell bg-danger p-4 px-5 font-2xl mr-3 float-left"></i>
          <div class="h5 text-danger mb-0 pt-3">{{ metricsDTO?.threadsRunning[0][1] }}</div>
          <div class="text-muted text-uppercase font-weight-bold font-xs">{{ metricsDTO?.threadsRunning[0][0] }}</div>
        </div>
      </div>
    </div>

  </div>
  <!--/.row-->



  <div class="row">
    <!--
        threads Connected
     -->
    <div class="col-sm-6 col-lg-3">
      <div class="card">
        <div class="card-body p-0 clearfix">
          <i class="fa fa-bell bg-danger p-4 px-5 font-2xl mr-3 float-left"></i>
          <div class="h5 text-danger mb-0 pt-3">{{ metricsDTO?.threadsConnected[0][1] }}</div>
          <div class="text-muted text-uppercase font-weight-bold font-xs">{{ metricsDTO?.threadsConnected[0][0] }}</div>
        </div>
      </div>
    </div>

    <!--
        wait Timeout
     -->
    <div class="col-sm-6 col-lg-3">
      <div class="card">
        <div class="card-body p-0 clearfix">
          <i class="fa fa-bell bg-danger p-4 px-5 font-2xl mr-3 float-left"></i>
          <div class="h5 text-danger mb-0 pt-3">{{ metricsDTO?.waitTimeout[0][1] }}</div>
          <div class="text-muted text-uppercase font-weight-bold font-xs">{{ metricsDTO?.waitTimeout[0][0] }}
          </div>
        </div>
      </div>
    </div>

  </div>
  <!--/.row-->




  <div class="row">
    <div class="col-lg-6">
      <div class="card">
        <div class="card-header">
          <i class="fa fa-users"></i>Statements With Runtimes In 95th Percentile
        </div>
        <div class="card-body">

          <!-- TABLE -->
          <div class="table-responsive">
            <table class="table table-bordered table-striped table-hover table-sm table-fixed">
              <caption>Statements With Runtimes In 95th Percentile</caption>
              <thead>
                <tr>
                  <th>Query</th>
                  <th>DB</th>
                  <th>Full scan</th>
                  <th>Exec count</th>
                  <th>Error count</th>
                  <th>Warn count</th>
                  <th>Total latency</th>
                  <th>Max latency</th>
                  <th>Avg latency</th>
                  <th>Rows Sent</th>
                  <th>Rows Sent Avg</th>
                  <th>Rows Examined</th>
                  <th>First Seen</th>
                  <th>Last Seen</th>
                  <th>Digest</th>
                </tr>
              </thead>
              <tbody *ngIf="metricsDTO?.statementsWithRuntimesIn95thPercentile?.length != 0">
                <tr
                  *ngFor="let statementsWithRuntimesIn95thPercentile of metricsDTO?.statementsWithRuntimesIn95thPercentile">
                  <td>{{ statementsWithRuntimesIn95thPercentile[0] }}</td>
                  <td>{{ statementsWithRuntimesIn95thPercentile[1] }}</td>
                  <td>{{ statementsWithRuntimesIn95thPercentile[2] }}</td>
                  <td>{{ statementsWithRuntimesIn95thPercentile[3] }}</td>
                  <td>{{ statementsWithRuntimesIn95thPercentile[4] }}</td>
                  <td>{{ statementsWithRuntimesIn95thPercentile[5] }}</td>
                  <td>{{ statementsWithRuntimesIn95thPercentile[6] }}</td>
                  <td>{{ statementsWithRuntimesIn95thPercentile[7] }}</td>
                  <td>{{ statementsWithRuntimesIn95thPercentile[8] }}</td>
                  <td>{{ statementsWithRuntimesIn95thPercentile[9] }}</td>
                  <td>{{ statementsWithRuntimesIn95thPercentile[10] }}</td>
                  <td>{{ statementsWithRuntimesIn95thPercentile[11] }}</td>
                  <td>{{ statementsWithRuntimesIn95thPercentile[12] }}</td>
                  <td>{{ statementsWithRuntimesIn95thPercentile[13] }}</td>
                  <td>{{ statementsWithRuntimesIn95thPercentile[14] }}</td>
                </tr>
              </tbody>
              <!-- SIN DATOS -->
              <tbody *ngIf="metricsDTO?.statementsWithRuntimesIn95thPercentile?.length <= 0">
                <tr>
                  <td colspan="11" class="no-data-available">No hay Datos</td>
                </tr>
              </tbody>
              <!-- SIN DATOS -->
              <tbody *ngIf="metricsDTO?.statementsWithRuntimesIn95thPercentile?.length <= 0 && isLoading">
                <tr>
                  <td colspan="11" class="no-data-available"><img src="assets/img/loading/loading.gif"></td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>



    <div class="col-lg-6">
      <div class="card">
        <div class="card-header">
          <i class="fa fa-users"></i>Statements With Errors Or Warnings
        </div>
        <div class="card-body">

          <!-- TABLE -->
          <div class="table-responsive">
            <table class="table table-bordered table-striped table-hover table-sm table-fixed">
              <caption>Statements With Errors Or Warnings</caption>
              <thead>
                <tr>
                  <th>Query</th>
                  <th>DB</th>
                  <th>Exec count</th>
                  <th>Errors</th>
                  <th>Error pct</th>
                  <th>Warnings</th>
                  <th>Warning pct</th>
                  <th>First Seen</th>
                  <th>Last Seen</th>
                  <th>Digest</th>
                </tr>
              </thead>
              <tbody *ngIf="metricsDTO?.statementsWithRuntimesIn95thPercentile?.length != 0">
                <tr
                  *ngFor="let statementsWithRuntimesIn95thPercentile of metricsDTO?.statementsWithRuntimesIn95thPercentile">
                  <td>{{ statementsWithRuntimesIn95thPercentile[0] }}</td>
                  <td>{{ statementsWithRuntimesIn95thPercentile[1] }}</td>
                  <td>{{ statementsWithRuntimesIn95thPercentile[2] }}</td>
                  <td>{{ statementsWithRuntimesIn95thPercentile[3] }}</td>
                  <td>{{ statementsWithRuntimesIn95thPercentile[4] }}</td>
                  <td>{{ statementsWithRuntimesIn95thPercentile[5] }}</td>
                  <td>{{ statementsWithRuntimesIn95thPercentile[6] }}</td>
                  <td>{{ statementsWithRuntimesIn95thPercentile[7] }}</td>
                  <td>{{ statementsWithRuntimesIn95thPercentile[8] }}</td>
                  <td>{{ statementsWithRuntimesIn95thPercentile[9] }}</td>
                </tr>
              </tbody>
              <!-- SIN DATOS -->
              <tbody *ngIf="metricsDTO?.statementsWithRuntimesIn95thPercentile?.length <= 0">
                <tr>
                  <td colspan="11" class="no-data-available">No hay Datos</td>
                </tr>
              </tbody>
              <!-- SIN DATOS -->
              <tbody *ngIf="metricsDTO?.statementsWithRuntimesIn95thPercentile?.length <= 0 && isLoading">
                <tr>
                  <td colspan="11" class="no-data-available"><img src="assets/img/loading/loading.gif"></td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>

  </div>
  <!--/.row-->



  <div class="row">

    <div class="col-lg-6">
      <div class="card">
        <div class="card-header">
          <i class="fa fa-users"></i>Lista de procesos
        </div>
        <div class="card-body">

          <!-- TABLE -->
          <div class="table-responsive">
            <table class="table table-bordered table-striped table-hover table-sm table-fixed">
              <caption>Lista de procesos</caption>
              <thead>
                <tr>
                  <th>#</th>
                  <th>User</th>
                  <th>Host</th>
                  <th>DB</th>
                  <th>Command</th>
                  <th>Time</th>
                  <th>State</th>
                  <th>Info</th>
                </tr>
              </thead>
              <tbody *ngIf="metricsDTO?.processList?.length != 0">
                <tr *ngFor="let processList of metricsDTO?.processList">
                  <td>{{ processList[0] }}</td>
                  <td>{{ processList[1] }}</td>
                  <td>{{ processList[2] }}</td>
                  <td>{{ processList[3] }}</td>
                  <td>{{ processList[4] }}</td>
                  <td>{{ processList[5] }}</td>
                  <td>{{ processList[6] }}</td>
                  <td>{{ processList[7] }}</td>
                </tr>
              </tbody>
              <!-- SIN DATOS -->
              <tbody *ngIf="metricsDTO?.processList?.length <= 0">
                <tr>
                  <td colspan="11" class="no-data-available">No hay Datos</td>
                </tr>
              </tbody>

              <!-- SIN DATOS -->
              <tbody *ngIf="metricsDTO?.processList?.length <= 0 && isLoading">
                <tr>
                  <td colspan="11" class="no-data-available"><img src="assets/img/loading/loading.gif"></td>
                </tr>
              </tbody>


            </table>
          </div>
        </div>
      </div>
    </div>

    <div class="col-lg-3">
      <div class="card">
        <div class="card-header">
          <i class="fa fa-users"></i>Top 10 Statements By Longest Average RunTime
        </div>
        <div class="card-body">

          <!-- TABLE -->
          <div class="table-responsive">
            <table class="table table-bordered table-striped table-hover table-sm table-fixed">
              <caption>Lista de procesos</caption>
              <thead>
                <tr>
                  <th>Query</th>
                  <th>Conteo</th>
                  <th>Promedio</th>
                </tr>
              </thead>
              <tbody *ngIf="metricsDTO?.top10StatementsByLongestAverageRunTime?.length != 0">
                <tr
                  *ngFor="let top10StatementsByLongestAverageRunTime of metricsDTO?.top10StatementsByLongestAverageRunTime">
                  <td>{{ top10StatementsByLongestAverageRunTime[0] }}</td>
                  <td>{{ top10StatementsByLongestAverageRunTime[1] }}</td>
                  <td>{{ top10StatementsByLongestAverageRunTime[2] }}</td>
                </tr>
              </tbody>
              <!-- SIN DATOS -->
              <tbody *ngIf="metricsDTO?.top10StatementsByLongestAverageRunTime?.length <= 0">
                <tr>
                  <td colspan="11" class="no-data-available">No hay Datos</td>
                </tr>
              </tbody>

              <!-- SIN DATOS -->
              <tbody *ngIf="metricsDTO?.top10StatementsByLongestAverageRunTime?.length <= 0 && isLoading">
                <tr>
                  <td colspan="11" class="no-data-available"><img src="assets/img/loading/loading.gif"></td>
                </tr>
              </tbody>


            </table>
          </div>
        </div>
      </div>
    </div>


    <div class="col-lg-3">
      <div class="card">
        <div class="card-header">
          <i class="fa fa-users"></i>Performance Schemas
        </div>
        <div class="card-body">

          <!-- TABLE -->
          <div class="table-responsive">
            <table class="table table-bordered table-striped table-hover table-sm table-fixed">
              <caption>Performance Schemas</caption>
              <thead>
                <tr>
                  <th>#</th>
                  <th>Conteo</th>
                  <th>Promedio (Segundos)</th>
                </tr>
              </thead>
              <tbody *ngIf="metricsDTO?.performanceSchemas?.length != 0">
                <tr *ngFor="let performanceSchemas of metricsDTO?.performanceSchemas">
                  <td>{{ performanceSchemas[0] }}</td>
                  <td>{{ performanceSchemas[1] }}</td>
                  <td>{{ performanceSchemas[2] }}</td>
                </tr>
              </tbody>
              <!-- SIN DATOS -->
              <tbody *ngIf="metricsDTO?.performanceSchemas?.length <= 0">
                <tr>
                  <td colspan="11" class="no-data-available">No hay Datos</td>
                </tr>
              </tbody>

              <!-- SIN DATOS -->
              <tbody *ngIf="metricsDTO?.performanceSchemas?.length <= 0 && isLoading">
                <tr>
                  <td colspan="11" class="no-data-available"><img src="assets/img/loading/loading.gif"></td>
                </tr>
              </tbody>


            </table>
          </div>
        </div>
      </div>
    </div>

  </div>
  <!--/.row-->




</div>
