<div class="animated fadeIn">

  <!-- INFORMACION BASICA -->
  <div class="row">
    <div class="col-12">
      <div class="card">
        <!-- TITULO -->
        <div class="card-header">
          <strong>Información básica</strong>
          <small>Usuarios Administradores</small>
        </div>
        <!-- CONTENIDO -->
        <div class="card-body">
          <div class="row">

            <!--========================================
                                 PARTE 1
            ========================================-->
            <div class="col-6">

              <!-- USUARIO -->
              <div class="form-group">
                <label class="form-col-form-label" for="usuario">Usuario</label>
                <input type="text" class="form-control" id="usuario" [(ngModel)]="usuariosAdminDTO.username">
              </div>

              <!-- NOMBRE -->
              <div class="form-group">
                <label class="form-col-form-label" for="nombre">Nombre</label>
                <input type="text" class="form-control" id="nombre" [(ngModel)]="usuariosAdminDTO.nombre">
              </div>

              <!-- APELLIDO 1 -->
              <div class="form-group">
                <label class="form-col-form-label" for="apellido1">Apellido 1</label>
                <input type="text" class="form-control" id="apellido1" [(ngModel)]="usuariosAdminDTO.apellido1">
              </div>

              <!-- APELLIDO 2 -->
              <div class="form-group">
                <label class="form-col-form-label" for="apellido2">Apellido 2</label>
                <input type="text" class="form-control" id="apellido2" [(ngModel)]="usuariosAdminDTO.apellido2">
              </div>

            </div>

            <!--========================================
                                 PARTE 2
            ========================================-->
            <div class="col-6">

              <!-- CORREO -->
              <div class="form-group">
                <label class="form-col-form-label" for="correo">Correo</label>
                <input type="text" class="form-control" id="correo" [(ngModel)]="usuariosAdminDTO.correo">
              </div>
              
              <!-- PASSWORD -->
              <div class="form-group">
                <label class="form-col-form-label" for="password">Password</label>
                <input type="password" class="form-control" id="password" [(ngModel)]="usuariosAdminDTO.password">
              </div>

              <!-- REPETIR PASSWORD -->
              <div class="form-group">
                <label class="form-col-form-label" for="repetirPassword">Repetir password</label>
                <input type="password" class="form-control" id="repetirPassword"
                  [(ngModel)]="usuariosAdminDTO.repetirPassword">
              </div>


            </div>
          </div>
        </div>
      </div>
    </div>
  </div>



  <!-- ROLES Y PERMISOS -->
  <div class="row">
    <div class="col-12">
      <div class="card">
        <!-- TITULO -->
        <div class="card-header">
          <strong>Permisos en el sistema</strong>
          <small>usuarios publicos</small>
        </div>
        <!-- CONTENIDO -->
        <div class="card-body">
          <div class="row">
            <div class="col-12">

              <ngx-treeview [config]="config" [items]="permisos"
                (selectedChange)="permisosAdminSeleccionados = $event">
              </ngx-treeview>

            </div>
          </div>
        </div>
        <div class="card-footer">
          <button type="submit" class="btn btn-sm btn-success float-right btn-footer" (click)="onConfirm()"><i
              class="fa fa-user"></i>
            Crear</button>
          <button type="reset" class="btn btn-sm btn-danger float-right btn-footer" (click)="reinciarValores()"><i
              class="fa fa-ban"></i> Reiniciar
            valores</button>
          <button type="button" class="btn btn-sm btn-primary float-right btn-footer" (click)="regresar()"><i
              class="fa fa-chevron-left"></i>
            regresar</button>
        </div>
      </div>
    </div>
  </div>


</div>