<div *ngIf="numShops" class="row content-paginacion">
    <div class="row col-12 pagination__text">
        <div *ngIf="page > 1" class="pagination__prev paginacion centroPaginado"><a (click)="anterior()"> {{anteriorS}}
            </a></div>
        <ul class="{{activado(pagina)}} paginacionSpace" *ngFor="let pagina of paginas | slice:inicio:fin">
            <li class=" paginacion " (click)="irPagina(pagina)">
                <p class="{{centro(pagina)}}">{{pagina}}</p>
            </li>
        </ul>
        <div *ngIf="page < totalPages" class="pagination__next paginacion centroPaginado"><a (click)="siguiente()">
                {{siguienteS}} </a></div>
    </div>
</div>
<p style="text-align: center" *ngIf="!numShops">Sin resultados</p>
<!--<p class="text-paginacion" *ngIf="numShops">{{numShops}} resultados</p>-->