<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">

        <div class="card">
          <div class="card-header card-header-primary card-header-icon">
            <div class="card-icon">
              <i class="material-icons ">assignment</i>
            </div>
            <h4 class="card-title">{{ 'principal.perfiles.index.titulo' | translate }}</h4>
          </div>
          <div class="card-body">

            <!-- APARTADO DE BOTONES  -->
            <div class="toolbar">

              <div class="row contenedor-botones-sf">
                <!-- BUSQUEDA -->
                <button (click)="filtrar()" mat-raised-button class="btn btn-just-icon btn-busqueda btn-salud-fiscal"
                  matTooltip="{{ 'principal.perfiles.index.tooltip-filtro' | translate }}"
                  [matTooltipPosition]="'above'">
                  <i class="{{ configuraciones.botones.boton_buscar }}"></i>
                </button>
                <!-- FILTRO -->
                <button *ngIf="perfilesFiltroDTO.busqueda" (click)="quitarFiltro()" mat-raised-button
                  class="btn active btn-just-icon btn-quitar-filtro btn-salud-fiscal "
                  matTooltip="{{ 'principal.perfiles.index.tooltip-quitar-filtro' | translate }}"
                  [matTooltipPosition]="'above'">
                  <i class="{{ configuraciones.botones.boton_filtro }}"></i>
                </button>
                <!-- NUEVO PERFIL -->
                <button (click)="nuevo()" mat-raised-button class="btn btn-just-icon btn-anhadir btn-salud-fiscal"
                  matTooltip="{{ 'principal.perfiles.index.tooltip-agregar' | translate}}"
                  [matTooltipPosition]="'above'">
                  <i class="{{ configuraciones.botones.boton_agregar }}"></i>
                </button>
              </div>
            </div>

            <!-- TABLA perfiles -->
            <div class="material-datatables">
              <table id="perfiles" class="table table-striped table-no-bordered table-hover" cellspacing="0"
                width="100%">
                <thead>
                  <tr>
                    <th class="disabled-sorting contenedor-botones-sf">
                      {{ 'principal.perfiles.index.acciones' | translate }}</th>
                    <th>{{ 'principal.perfiles.index.activo' | translate }}</th>
                    <th>{{ 'principal.perfiles.index.id' | translate }}</th>
                    <th>{{ 'principal.perfiles.index.nombre' | translate }}</th>
                    <th>{{ 'principal.perfiles.index.permisos' | translate }}</th>
                    <th>{{ 'principal.perfiles.index.descripcion' | translate }}</th>
                  </tr>
                </thead>
                <tbody *ngIf="rolesDTO?.length != 0">
                  <tr *ngFor="let rol of rolesDTO">

                    <td class="table-contenedor-botones-sf">
                      <!-- EDITAR -->
                      <button id="editar" (click)="editar(rol)" mat-raised-button
                        class="btn btn-just-icon btn-editar btn-salud-fiscal"
                        matTooltip="{{ 'principal.perfiles.index.tooltip-editar' | translate}}"
                        [matTooltipPosition]="'above'">
                        <i class="{{ configuraciones.botones.boton_editar }}"></i>
                      </button>
                      <!-- ELIMINAR -->
                      <button *ngIf="rol.activo" id="eliminar" (click)="eliminar(rol)" mat-raised-button
                        class="btn btn-just-icon btn-eliminar btn-salud-fiscal"
                        matTooltip="{{ 'principal.perfiles.index.tooltip-eliminar' | translate}}"
                        [matTooltipPosition]="'above'">
                        <i class="{{ configuraciones.botones.boton_eliminar }}"></i>
                      </button>
                      <!-- ACTIVAR -->
                      <button *ngIf="!rol.activo" id="activar" (click)="activar(rol)" mat-raised-button
                        class="btn btn-just-icon btn-activar btn-salud-fiscal"
                        matTooltip="{{ 'principal.perfiles.index.tooltip-activar' | translate}}"
                        [matTooltipPosition]="'above'">
                        <i class="{{ configuraciones.botones.boton_activar }}"></i>
                      </button>
                    </td>
                    <td>
                      <div *ngIf="rol.activo"> {{ 'genericos.activo' | translate }}</div>
                      <div *ngIf="!rol.activo"> {{ 'genericos.inactivo' | translate }}</div>
                    </td>
                    <td>{{ rol.id }}</td>
                    <td>{{ rol.etiqueta }}</td>
                    <td>
                      <div *ngFor="let permiso of rol.permisos; let i = index">
                        <span>{{ i + 1 }} - {{ permiso.descripcion }}</span>
                        <br>
                      </div>
                    </td>
                    <td>{{ rol.descripcion }}</td>
                  </tr>
                </tbody>

                <tbody *ngIf="rolesDTO?.length == 0">
                  <tr>
                    <td colspan="7" class="no-data-available">{{ 'principal.perfiles.index.sin-datos' | translate}}</td>
                  </tr>
                </tbody>

              </table>

            </div>


          </div>
          <!-- end content-->
        </div>
        <!--  end card  -->
      </div>
      <!-- end col-md-12 -->
    </div>
    <!-- end row -->
  </div>
</div>