<!-- FINGERPRINT -->
<div class="row">
  <div class="col-12">
    <div class="card">

      <!-- TITULO -->
      <div class="card-header">
        <strong>Inicio de sesión con huella</strong>
        <small [ngStyle]="{'color': isLoadingHuellero ? 'red' : 'green' }">{{ statusHuellero }}</small>
        <!--  CONECTAR -->
        <button type="button" class="btn btn-botonera btn-primary btn-sm float-right" (click)="onLoad()">
          <i class="fa fa-refresh"></i> Conectar
        </button>
      </div>

      <!-- CONTENIDO -->
      <div class="card-body">
        <div class="row">
          <div class="col-12">
            <div class="row">
              <div class="col-4">
                <div style="position:relative">
                  <img src="/assets/img/left-hand.png" width="300" height="300" />

                  <!-- PULGAR IZQUIERDO -->
                  <div style="display:block; width:40px; height:50px; position:absolute; left: 240px; top: 140px;">

                    <!-- INICIAR ESCANEO DE DEDO -->
                    <div class="btn btn-sm float-right" style="margin: 0; padding: 0;"
                      popover="Inicia el escaneo del dedo pulgar izquierdo" triggers="mouseenter:mouseleave">
                      <button (click)="seleccionDedo('PULGAR_IZQUIERDO')" type="button" style="margin: 0;"
                        class="btn btn-botonera btn-primary btn-sm float-left">
                        <i class="fa fa-hand-o-up"></i>
                      </button>
                    </div>

                    <!-- REINICIA ESCANEO DE DEDO -->
                    <div class="btn btn-sm float-right" style="margin: 0; padding: 0;"
                      popover="Reinicia el escaneo del dedo pulgar izquierdo" triggers="mouseenter:mouseleave">
                      <button (click)="reiniciaDedo('PULGAR_IZQUIERDO')" type="button" style="margin: 0; "
                        class="btn btn-botonera btn-danger btn-sm float-right">
                        <i class="fa fa-trash"></i>
                      </button>
                    </div>

                  </div>

                  <!-- INDICE_IZQUIERDO -->
                  <div style="display:block; width:40px; height:40px; position:absolute; left: 180px; top: 38px;">

                    <!-- INICIAR ESCANEO DE DEDO -->
                    <div class="btn btn-sm float-right" style="margin: 0; padding: 0;"
                      popover="Inicia el escaneo del dedo pulgar izquierdo" triggers="mouseenter:mouseleave">
                      <button (click)="seleccionDedo('INDICE_IZQUIERDO')" type="button" style="margin: 0;"
                        class="btn btn-botonera btn-primary btn-sm float-left">
                        <i class="fa fa-hand-o-up"></i>
                      </button>
                    </div>

                    <!-- REINICIA ESCANEO DE DEDO -->
                    <div class="btn btn-sm float-right" style="margin: 0; padding: 0;"
                      popover="Reinicia el escaneo del dedo pulgar izquierdo" triggers="mouseenter:mouseleave">
                      <button (click)="reiniciaDedo('INDICE_IZQUIERDO')" type="button" style="margin: 0; "
                        class="btn btn-botonera btn-danger btn-sm float-right">
                        <i class="fa fa-trash"></i>
                      </button>
                    </div>

                  </div>

                  <!--MEDIO_IZQUIERDO -->
                  <div style="display:block;  width:40px; height:35px; position:absolute; left: 115px; top: 15px;">

                    <!-- INICIAR ESCANEO DE DEDO -->
                    <div class="btn btn-sm float-right" style="margin: 0; padding: 0;"
                      popover="Inicia el escaneo del dedo pulgar izquierdo" triggers="mouseenter:mouseleave">
                      <button (click)="seleccionDedo('MEDIO_IZQUIERDO')" type="button" style="margin: 0;"
                        class="btn btn-botonera btn-primary btn-sm float-left">
                        <i class="fa fa-hand-o-up"></i>
                      </button>
                    </div>

                    <!-- REINICIA ESCANEO DE DEDO -->
                    <div class="btn btn-sm float-right" style="margin: 0; padding: 0;"
                      popover="Reinicia el escaneo del dedo pulgar izquierdo" triggers="mouseenter:mouseleave">
                      <button (click)="reiniciaDedo('MEDIO_IZQUIERDO')" type="button" style="margin: 0; "
                        class="btn btn-botonera btn-danger btn-sm float-right">
                        <i class="fa fa-trash"></i>
                      </button>
                    </div>
                  </div>
                </div>

              </div>


              <div class="col-4">
                <div style="position:relative">
                  <img src="/assets/img/right-hand.png" width="300" height="300" />

                  <!-- PULGAR_DERECHO -->
                  <div style="display:block; width:40px; height:50px; position:absolute; left: 18px; top: 140px;">

                    <!-- INICIAR ESCANEO DE DEDO -->
                    <div class="btn btn-sm float-right" style="margin: 0; padding: 0;"
                      popover="Inicia el escaneo del dedo pulgar izquierdo" triggers="mouseenter:mouseleave">
                      <button (click)="seleccionDedo('PULGAR_DERECHO')" type="button" style="margin: 0;"
                        class="btn btn-botonera btn-primary btn-sm float-left">
                        <i class="fa fa-hand-o-up"></i>
                      </button>
                    </div>

                    <!-- REINICIA ESCANEO DE DEDO -->
                    <div class="btn btn-sm float-right" style="margin: 0; padding: 0;"
                      popover="Reinicia el escaneo del dedo pulgar izquierdo" triggers="mouseenter:mouseleave">
                      <button (click)="reiniciaDedo('PULGAR_DERECHO')" type="button" style="margin: 0; "
                        class="btn btn-botonera btn-danger btn-sm float-right">
                        <i class="fa fa-trash"></i>
                      </button>
                    </div>

                  </div>

                  <!-- INDICE_DERECHO -->
                  <div style="display:block; width:40px; height:40px; position:absolute; left: 80px; top: 38px;">

                    <!-- INICIAR ESCANEO DE DEDO -->
                    <div class="btn btn-sm float-right" style="margin: 0; padding: 0;"
                      popover="Inicia el escaneo del dedo pulgar izquierdo" triggers="mouseenter:mouseleave">
                      <button (click)="seleccionDedo('INDICE_DERECHO')" type="button" style="margin: 0;"
                        class="btn btn-botonera btn-primary btn-sm float-left">
                        <i class="fa fa-hand-o-up"></i>
                      </button>
                    </div>

                    <!-- REINICIA ESCANEO DE DEDO -->
                    <div class="btn btn-sm float-right" style="margin: 0; padding: 0;"
                      popover="Reinicia el escaneo del dedo pulgar izquierdo" triggers="mouseenter:mouseleave">
                      <button (click)="reiniciaDedo('INDICE_DERECHO')" type="button" style="margin: 0; "
                        class="btn btn-botonera btn-danger btn-sm float-right">
                        <i class="fa fa-trash"></i>
                      </button>
                    </div>
                  </div>

                  <!-- MEDIO_DERECHO -->
                  <div style="display:block; width:40px; height:35px; position:absolute; left: 149px; top: 15px;">

                    <!-- INICIAR ESCANEO DE DEDO -->
                    <div class="btn btn-sm float-right" style="margin: 0; padding: 0;"
                      popover="Inicia el escaneo del dedo pulgar izquierdo" triggers="mouseenter:mouseleave">
                      <button (click)="seleccionDedo('MEDIO_DERECHO')" type="button" style="margin: 0;"
                        class="btn btn-botonera btn-primary btn-sm float-left">
                        <i class="fa fa-hand-o-up"></i>
                      </button>
                    </div>

                    <!-- REINICIA ESCANEO DE DEDO -->
                    <div class="btn btn-sm float-right" style="margin: 0; padding: 0;"
                      popover="Reinicia el escaneo del dedo pulgar izquierdo" triggers="mouseenter:mouseleave">
                      <button (click)="reiniciaDedo('MEDIO_DERECHO')" type="button" style="margin: 0; "
                        class="btn btn-botonera btn-danger btn-sm float-right">
                        <i class="fa fa-trash"></i>
                      </button>
                    </div>

                  </div>
                </div>
              </div>

              <div class="col-4">
                <div>
                  <strong>{{ seleccionEscaneo }}</strong>

                  <div class="row">
                    <div *ngFor="let huella of huellas" class="col-3">

                      <img [src]="'data:image/png;base64,' + huella" width="100" height="100" />
                      <!-- REINICIA ESCANEO DE DEDO -->
                      <div class="btn btn-sm float-right" style="margin: 0; padding: 0;" popover="Elimina el escaneo"
                        triggers="mouseenter:mouseleave">
                        <button (click)="eliminaEscaneo(huella)" type="button" style="margin: 0; "
                          class="btn btn-botonera btn-danger btn-sm float-right">
                          <i class="fa fa-trash"></i>
                        </button>
                      </div>

                    </div>
                  </div>

                </div>
              </div>

            </div>

          </div>
        </div>
      </div>
      <div class="card-footer">
      </div>
    </div>
  </div>
</div>