<div class="animated fadeIn">

  <div class="row">
    <div class="col-lg-12">
      <div class="card">
        <div class="card-header">
          <i class="fa fa-users"></i>Log
        </div>
        <div class="card-body">

          <!-- BOTONERA -->
          <div style="margin: 15px 0;">

            <!-- MOSTRAR -->
            <label for="ccmonth">&nbsp;&nbsp; Mostrar</label>
            <select class="form-control float-left select-custom" [(ngModel)]="cantidadAMostrar"
              (change)="rowsToShow($event.target.value)" id="ccmonth">
              <option>5</option>
              <option>10</option>
              <option>25</option>
              <option>50</option>
            </select>

            <!-- QUITAR FILTRO -->
            <button *ngIf="logFiltroDTO.busqueda" (click)="eliminarBusqueda()" type="button"
              class="btn btn-botonera btn-danger btn-sm float-right" popover="Elimina el filtro de busqueda"
              triggers="mouseenter:mouseleave">
              <i class="fa fa-close"></i> Quitar Filtro
            </button>

            <!-- BUSQUEDA -->
            <div class="btn btn-sm float-right" style="margin: 0; padding: 0;"
              popover="{{ utilComponent.validaPermiso('web:administracion:log:mostrar') ? 'busca dentro del log' : 'No tiene permitido buscar' }}"
              triggers="mouseenter:mouseleave">
              <button (click)="buscar()" type="button" class="btn btn-botonera btn-primary btn-sm float-right"
                [disabled]="!utilComponent.validaPermiso('web:administracion:log:mostrar')">
                <i class="fa fa-search"></i> Buscar
              </button>
            </div>

          </div>

          <!-- TABLE -->
          <div class="table-responsive">
            <table class="table table-bordered table-striped table-hover table-sm table-fixed">
              <caption>Bitacora</caption>
              <thead>
                <tr>
                  <th>Id</th>
                  <th>Usuario</th>
                  <th>Tipo</th>
                  <th>Tamaño</th>
                  <th>Content Type</th>
                  <th>Path</th>
                  <th>Headers</th>
                  <th>Status Code</th>
                  <th>Fecha Alta</th>
                </tr>
              </thead>
              <tbody *ngIf="logDTO?.length != 0">
                <tr *ngFor="let log of logDTO">
                  <td>{{ log.id }}</td>
                  <td>{{ log.usuario }}</td>
                  <td>{{ log.tipoUsuario }}</td>
                  <td>{{ log.contentLengthLong }}</td>
                  <td>{{ log.contentType }}</td>
                  <td>{{ log.servletPath }}</td>
                  <td>
                    <span *ngFor="let header of log.headerNames.split('||')" >
                      {{ header }}
                    <br>
                    </span>
                  </td>
                  <td>{{ log.statusCode }}</td>
                  <td>{{ log.fechaAlta }}</td>
                </tr>
              </tbody>
              <!-- SIN DATOS -->
              <tbody *ngIf="logDTO?.length <= 0">
                <tr>
                  <td colspan="11" class="no-data-available">No hay Datos</td>
                </tr>
              </tbody>

              <!-- SIN DATOS -->
              <tbody *ngIf="logDTO?.length <= 0 && isLoading">
                <tr>
                  <td colspan="11" class="no-data-available"><img src="assets/img/loading/loading.gif"></td>
                </tr>
              </tbody>

            </table>
          </div>

          <!--PAGINACION-->
          <nav>
            <ul class="pagination no-margin pull-right">
              <pagination [boundaryLinks]="true" [totalItems]="totalItems" [(ngModel)]="currentPage"
                (pageChanged)="pageChanged($event)" class="pagination-sm" [itemsPerPage]="cantidadAMostrar"
                previousText="&lsaquo;" nextText="&rsaquo;" firstText="Primero" lastText="Último">
              </pagination>
            </ul>
          </nav>

        </div>
      </div>
    </div>
    <!--/.col-->
  </div>
  <!--/.row-->
</div>
